.form-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.form-title {
    font-size: 1.8em;
    font-weight: 500;
}

.button-group {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.save-button {
    min-width: 150px; 
}

.cancel-button {
    min-width: 100px; 
}