.navbar-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; 
    display: flex;
    align-items: center;
}

.active-link {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid white;
}

mat-icon {
    margin-right: 8px;
}