mat-dialog-content {
  font-size: 16px;
  line-height: 1.4;
  overflow: auto;
}

mat-dialog-actions {
  margin-top: 15px;
}

table {
  width: 100%;
}

.no-header-table .mat-header-row,
.no-header-table .mat-header-cell {
  display: none !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.no-customers-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    padding: 30px;
    font-size: 1.1em;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 20px;
}